.content {
  height: calc(100% - 60px);
}

.radio {
  background-image: url('../img/bg.png');
  background-position: center;
  background-size: cover;
  @include flex(flex-end, center, column);

  &__artist {
    width: 100%;
    color: white;
    text-align: center;

    h2 {
      margin-bottom: 0;
      font-weight: 500;
    }

    h3 {
      width: 100%;
      margin-top: 10px;
      padding: 0 10px;
      font-weight: 300;
    }
  }

  &__buttons {
    margin-bottom: 20px;

    &-play,
    &-pause {
      width: $buttonSize;
      height: $buttonSize;
      background-color: $mainColor;
      border: none;
      border-radius: 50%;
      @include flex();

      &:focus {
        outline: none;
      }

      i {
        color: white;
      }
    }
  }
}