.navigation {
  width: 75%;
  height: 100%;
  padding: 20px 10px 0;
  position: absolute;
  top: 0;
  left: -75%;
  background-color: white;
  overflow-x: hidden;
  overflow-y: overlay;
  transition: left 0.3s ease-in-out;
  z-index: 3;
  @include flex(flex-start, center, column);

  &__active {
    left: 0;
  }

  &__img {
    margin: 0 auto 15px;

    img {
      width: 100%;
      height: 100%;
      display: block;
    }
  }

  &__menu {
    width: 100%;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        margin: 5px 0;
      }
    }
  }

  &__category {
    &:first-child {
      hr,
      h2 {
        display: none;
      }
    }

    hr {
      margin: 0 -15px;
      border: none;
      border-top: solid 1px #ddd;
    }
  }

  &__heading {
    margin: 15px 0;
    color: #555;
    font-size: 0.9rem;
    font-weight: 500;
  }

  &__item {
    width: 100%;
    margin: 0;
    padding: 7px 10px;
    background: transparent;
    border: none;
    border-radius: 3px;
    outline: none;
    text-decoration: none;
    color: black;
    cursor: pointer;
    @include flex(flex-start);

    &:hover,
    &:focus {
      background-color: rgba(0, 140, 255, 0.2);
      color: rgb(0, 140, 255);
    }
  }

  &__item-heading {
    width: max-content;
    font-size: 0.9rem;
    font-weight: 500;
  }

  &__icon {
    width: 24px;
    height: 24px;
    margin-right: 20px;
    font-size: 1.4rem;
  }
}
